@use "../colors" as colors;
@use "../fontSizes" as fontSizes;
@use "../spacings" as spacings;

.root,
.section {
  display: flex;
  flex-direction: column;
}

.root {
  gap: spacings.$md;
}

.section {
  gap: spacings.$sm;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: spacings.$xs;
}

.tableContainer {
  max-height: 8rem;
}

.empty {
  @include fontSizes.text;
  color: colors.$secondary-text;
}
