$background0: #070707;
$background1: #1f2221;
$background2: #262928;
$primary-text: #ffffff;
$secondary-text: #cbcfcd;
$primary-action: #28c598;
$primary-action-hover: #3ddfb1;
$primary-action-pressed: #1d9f7a;
$secondary-action: #ff3067;
$secondary-action-hover: #f44473;
$secondary-action-pressed: #f1235a;
